.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    line-height: 54px;
    letter-spacing: 0.03em;
    
}
.fon {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #323232;
}
.number {
    position: fixed;
    padding-left: 150px;
    padding-top: 100px;
    width: 600px;
    height: 389px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 260px;
    line-height: 334px;
    letter-spacing: 0.03em;
    color: #323232;
    text-shadow: 0 -1px 0 #3480A4, -1px 0 0 #3480A4, 1px 0 0 #3480A4, -1px -1px 0 #3480A4, 1px -1px 0 #3480A4, -1px 1px 0 #3480A4, 1px 1px 0 #3480A4, 0px 1px 0 #3480A4;
    user-select: none;
}
.door {
    position: fixed;
    width: 155px;
    height: 35px;
    padding-left: 700px;
    padding-top: 170px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 0.06em;
    color: #FFFFFF;
    user-select: none;
}
.window {
    position: fixed;
    width: 155px;
    height: 35px;
    padding-left: 700px;
    padding-top: 240px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 0.06em;
    color: #FFFFFF;
    user-select: none;
}
.light {
    position: fixed;
    width: 155px;
    height: 35px;
    padding-left: 700px;
    padding-top: 310px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 0.06em;
    color: #FFFFFF;
    user-select: none;
}
.homework {
    position: fixed;
    width: 1160px;
    height: 59px;
    padding-left: 100px;
    padding-top: 140px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    user-select: none;
}
.list {
    position: fixed;
    width: 1160px;
    height: 29px;
    padding-left: 100px;
    padding-top: 250px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.03em;
    
    user-select: none;
}
.statusDoor {
    position: fixed;
    width: 70px;
    height: 30px;
    padding-left: 850px;
    padding-top: 170px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 0.06em;
    color: #FFFFFF;
    user-select: none;
}
.statusWindow {
    position: fixed;
    width: 70px;
    height: 30px;
    padding-left: 850px;
    padding-top: 240px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 0.06em;
    color: #FFFFFF;
    user-select: none;
}
.statusLight {
    position: fixed;
    width: 70px;
    height: 30px;
    padding-left: 850px;
    padding-top: 310px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 0.06em;
    color: #FFFFFF;
    user-select: none;
}
